In [1]:
print("Hello thias!")

Hello thias!

In [1]:
import pandas as pd
import numpy as np

In [2]:
excel_file="C:/Users/User/Desktop/SEM 7/FYP I/Dataset/Meh/full_weather.csv"
df = pd.read_csv(excel_file)
print(df.head())

              datetime         place           city         state  \
0  1996-08-09 13:30:00   Tanjung Aru  Kota Kinabalu         Sabah
1  1996-08-09 13:30:00    Batu Maung    Bayan Lepas  Pulau Pinang
2  1996-08-09 13:30:00        Sepang         Sepang  Kuala Lumpur
3  1996-08-09 13:30:00  Kota Sentosa        Kuching       Sarawak
4  1996-08-09 14:30:00        Sepang         Sepang  Kuala Lumpur

   temperature  pressure  dew_point  humidity  wind_speed  gust  wind_chill  \
0         32.0   1006.16       25.0      66.0         9.0   NaN        32.0
1         25.0   1008.64       24.0      94.0         4.0   NaN        25.0
2         29.0   1006.97       23.0      70.0         2.0   NaN        29.0
3         33.0   1003.78       24.0      59.0         NaN   NaN        33.0
4          NaN       NaN        NaN       NaN         7.0   NaN         NaN

   uv_index  feels_like_temperature  visibility  solar_radiation  \
0       NaN                    39.0         9.0              NaN
1       NaN                    25.0         6.0              NaN
2       NaN                    32.0         9.0              NaN
3       NaN                    39.0         9.0              NaN
4       NaN                     NaN         9.0              NaN

   pollutant_value  precipitation_rate  precipitation_total
0              NaN                 NaN                  NaN
1              NaN                 NaN                  NaN
2              NaN                 NaN                  NaN
3              NaN                 NaN                  NaN
4              NaN                 NaN                  NaN

In [6]:
df.shape

(24519715, 18)

In [9]:
kuching_df=df[df['city'] == "Kuching"]
print(kuching_df)

                     datetime         place     city    state  temperature  \
3         1996-08-09 13:30:00  Kota Sentosa  Kuching  Sarawak         33.0
7         1996-08-09 14:30:00  Kota Sentosa  Kuching  Sarawak         33.0
8         1996-08-17 16:30:00  Kota Sentosa  Kuching  Sarawak         27.0
13        1996-08-17 17:30:00  Kota Sentosa  Kuching  Sarawak         27.0
16        1996-08-17 18:30:00  Kota Sentosa  Kuching  Sarawak         26.0
...                       ...           ...      ...      ...          ...
24519559  2024-08-31 15:39:49    Petra Jaya  Kuching  Sarawak         25.9
24519592  2024-08-31 15:44:52    Petra Jaya  Kuching  Sarawak         25.7
24519641  2024-08-31 15:49:56    Petra Jaya  Kuching  Sarawak         25.7
24519658  2024-08-31 15:54:44    Petra Jaya  Kuching  Sarawak         25.8
24519712  2024-08-31 15:59:59    Petra Jaya  Kuching  Sarawak         25.9

          pressure  dew_point  humidity  wind_speed  gust  wind_chill  \
3         1003.780       24.0      59.0         NaN   NaN        33.0
7         1002.780       23.0      55.0         4.0   NaN        33.0
8         1004.780       23.0      79.0         4.0   NaN        27.0
13        1004.780       24.0      84.0         6.0   NaN        27.0
16        1005.770       24.0      89.0         6.0   NaN        26.0
...            ...        ...       ...         ...   ...         ...
24519559  1010.635       25.3      96.0         2.1   4.9        25.9
24519592  1010.635       25.1      95.9         1.3   4.1        25.7
24519641  1010.535       24.8      95.0         1.1   4.2        25.7
24519658  1010.635       24.9      95.0         0.0   0.9        25.8
24519712  1010.635       24.9      94.3         0.0   0.8        25.9

          uv_index  feels_like_temperature  visibility  solar_radiation  \
3              NaN                    39.0         9.0              NaN
7              NaN                    38.0         9.0              NaN
8              NaN                    29.0         9.0              NaN
13             NaN                    30.0         9.0              NaN
16             NaN                    28.0         9.0              NaN
...            ...                     ...         ...              ...
24519559       0.0                     NaN         NaN              0.0
24519592       0.0                     NaN         NaN              0.0
24519641       0.0                     NaN         NaN              0.0
24519658       0.0                     NaN         NaN              0.0
24519712       0.0                     NaN         NaN              0.0

          pollutant_value  precipitation_rate  precipitation_total
3                     NaN                 NaN                  NaN
7                     NaN                 NaN                  NaN
8                     NaN                 NaN                  NaN
13                    NaN                 NaN                  NaN
16                    NaN                 NaN                  NaN
...                   ...                 ...                  ...
24519559              NaN                 0.0                  0.0
24519592              NaN                 0.0                  0.0
24519641              NaN                 0.0                  0.0
24519658              NaN                 0.0                  0.0
24519712              NaN                 0.0                  0.0

[1073692 rows x 18 columns]

In [7]:
bintulu_df=df[df['city'] == "Bintulu"]
print(bintulu_df.head())
bintulu_df.shape

                  datetime    place     city    state  temperature  pressure  \
11597  1998-11-28 12:30:00  Bintulu  Bintulu  Sarawak         31.0    1010.4
18264  1999-02-14 08:30:00  Bintulu  Bintulu  Sarawak          NaN    1010.4
20038  1999-03-08 19:30:00  Bintulu  Bintulu  Sarawak         25.0    1004.4
24068  1999-04-24 06:30:00  Bintulu  Bintulu  Sarawak         24.0    1008.4
27364  1999-06-01 07:30:00  Bintulu  Bintulu  Sarawak         25.0    1010.4

       dew_point  humidity  wind_speed  gust  wind_chill  uv_index  \
11597       24.0      66.0         9.0   NaN        31.0       NaN
18264        NaN       NaN         6.0   NaN         NaN       NaN
20038       24.0      94.0         NaN   NaN        25.0       0.0
24068       23.0      94.0         9.0   NaN        24.0       NaN
27364       23.0      89.0         7.0   NaN        25.0       NaN

       feels_like_temperature  visibility  solar_radiation  pollutant_value  \
11597                    36.0         9.0              NaN              NaN
18264                     NaN         9.0              NaN              NaN
20038                    25.0         9.0              NaN              NaN
24068                    24.0         7.0              NaN              NaN
27364                    26.0         9.0              NaN              NaN

       precipitation_rate  precipitation_total
11597                 NaN                  NaN
18264                 NaN                  NaN
20038                 NaN                  NaN
24068                 NaN                  NaN
27364                 NaN                  NaN

(189984, 18)

In [10]:
# Convert datetime column to proper datetime type
bintulu_df["datetime"] = pd.to_datetime(bintulu_df["datetime"], errors="coerce")

# Filter by date range
mask = (bintulu_df["datetime"] >= "2019-01-01") & (bintulu_df["datetime"] <= "2024-08-31")
df_bintulu = bintulu_df.loc[mask]


# Extract date only (ignore time part)
bintulu_df["date"] = bintulu_df["datetime"].dt.date

# Group by date â†’ calculate daily average temperature & humidity
df_daily_avg = bintulu_df.groupby("date")[["temperature", "humidity"]].mean().reset_index()

# Save to Excel
output_file = "C:/Users/User/Desktop/SEM 7/FYP I/Dataset/bintulu_weather_daily_avg.xlsx"
df_daily_avg.to_excel(output_file, index=False)

C:\Users\User\AppData\Local\Temp\ipykernel_19488\3091864325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bintulu_df["datetime"] = pd.to_datetime(bintulu_df["datetime"], errors="coerce")
C:\Users\User\AppData\Local\Temp\ipykernel_19488\3091864325.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bintulu_df["date"] = bintulu_df["datetime"].dt.date

In [4]:
mask = (bintulu_df["datetime"] >= "2019-01-01") & (bintulu_df["datetime"] <= "2024-08-31")
df_bintulu = bintulu_df.loc[mask]

In [5]:
df_bintulu = df_bintulu[["datetime", "temperature", "humidity"]]

In [6]:
output_file = "C:/Users/User/Desktop/SEM 7/FYP I/Dataset/bintulu_weather.xlsx"
df_bintulu.to_excel(output_file, index=False)

In [4]:
btu = bintulu_df[bintulu_df['datetime'] > '2019-01-01']
print(btu.head())
btu.shape

                    datetime    place     city    state  temperature  \
6674741  2019-01-01 00:00:00  Bintulu  Bintulu  Sarawak         25.0
6674813  2019-01-01 01:00:00  Bintulu  Bintulu  Sarawak         25.0
6674974  2019-01-01 02:00:00  Bintulu  Bintulu  Sarawak         25.0
6675084  2019-01-01 03:00:00  Bintulu  Bintulu  Sarawak         24.0
6675260  2019-01-01 04:00:00  Bintulu  Bintulu  Sarawak         24.0

         pressure  dew_point  humidity  wind_speed  gust  wind_chill  \
6674741    1009.4       25.0     100.0         0.0   NaN        25.0
6674813    1009.4       25.0     100.0         6.0   NaN        25.0
6674974    1008.4       24.0      94.0        11.0   NaN        25.0
6675084    1008.4       24.0     100.0         9.0   NaN        24.0
6675260    1007.4       24.0     100.0         9.0   NaN        24.0

         uv_index  feels_like_temperature  visibility  solar_radiation  \
6674741       0.0                    25.0         8.0              NaN
6674813       0.0                    25.0         9.0              NaN
6674974       0.0                    25.0         9.0              NaN
6675084       0.0                    24.0         9.0              NaN
6675260       0.0                    24.0         9.0              NaN

         pollutant_value  precipitation_rate  precipitation_total
6674741             27.5                 NaN                  NaN
6674813             31.0                 NaN                  NaN
6674974             32.0                 NaN                  NaN
6675084             32.0                 NaN                  NaN
6675260             31.5                 NaN                  NaN

(49571, 18)

In [19]:
print(btu.tail())

                     datetime    place     city    state  temperature  \
24517446  2024-08-31 11:00:00  Bintulu  Bintulu  Sarawak         29.0
24517912  2024-08-31 12:00:00  Bintulu  Bintulu  Sarawak         28.0
24518362  2024-08-31 13:00:00  Bintulu  Bintulu  Sarawak         26.0
24518833  2024-08-31 14:00:00  Bintulu  Bintulu  Sarawak         26.0
24519278  2024-08-31 15:00:00  Bintulu  Bintulu  Sarawak         25.0

          pressure  dew_point  humidity  wind_speed  gust  wind_chill  \
24517446   1005.25       26.0      84.0         6.0   NaN        29.0
24517912   1006.25       26.0      89.0         7.0   NaN        28.0
24518362   1008.24       25.0      94.0        24.0   NaN        26.0
24518833   1008.24       24.0      89.0        13.0   NaN        26.0
24519278   1008.24       24.0      94.0         4.0   NaN        25.0

          uv_index  feels_like_temperature  visibility  solar_radiation  \
24517446       0.0                    36.0         9.0              NaN
24517912       0.0                    33.0         9.0              NaN
24518362       0.0                    28.0         6.0              NaN
24518833       0.0                    28.0         6.0              NaN
24519278       0.0                    25.0         6.0              NaN

          pollutant_value  precipitation_rate  precipitation_total
24517446              NaN                 NaN                  NaN
24517912              NaN                 NaN                  NaN
24518362              NaN                 NaN                  NaN
24518833              NaN                 NaN                  NaN
24519278              NaN                 NaN                  NaN

In [5]:
srk = df[df['city']=="Sarikei"]
srk.tail()

,datetime,place,city,state,temperature,pressure,dew_point,humidity,wind_speed,gust,wind_chill,uv_index,feels_like_temperature,visibility,solar_radiation,pollutant_value,precipitation_rate,precipitation_total
24510284,2024-08-30 20:00:00,Jalan Sentral,Sarikei,Sarawak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN
24510808,2024-08-30 21:00:00,Jalan Sentral,Sarikei,Sarawak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN
24511281,2024-08-30 22:00:00,Jalan Sentral,Sarikei,Sarawak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN
24511769,2024-08-30 23:00:00,Jalan Sentral,Sarikei,Sarawak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN
24512352,2024-08-31 00:00:00,Jalan Sentral,Sarikei,Sarawak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,NaN,NaN

In [6]:
smg = df[df['city']=="Sri Aman"]
smg.head()

,datetime,place,city,state,temperature,pressure,dew_point,humidity,wind_speed,gust,wind_chill,uv_index,feels_like_temperature,visibility,solar_radiation,pollutant_value,precipitation_rate,precipitation_total
49777,2000-06-29 15:00:00,Sabu,Sri Aman,Sarawak,33.0,1003.69,24.0,59.0,7.0,NaN,33.0,NaN,39.0,9.0,NaN,NaN,NaN,NaN
77784,2000-11-22 14:00:00,Sabu,Sri Aman,Sarawak,32.0,1004.69,23.0,59.0,2.0,NaN,32.0,NaN,37.0,9.0,NaN,NaN,NaN,NaN
100494,2001-03-09 22:00:00,Sabu,Sri Aman,Sarawak,23.0,1009.68,22.0,94.0,2.0,NaN,23.0,0.0,23.0,9.0,NaN,NaN,NaN,NaN
103866,2001-03-25 07:00:00,Sabu,Sri Aman,Sarawak,23.0,1007.68,22.0,94.0,7.0,NaN,23.0,NaN,23.0,9.0,NaN,NaN,NaN,NaN
106122,2001-04-04 11:00:00,Sabu,Sri Aman,Sarawak,27.0,1010.68,25.0,89.0,6.0,NaN,27.0,NaN,31.0,9.0,NaN,NaN,NaN,NaN

In [7]:
smg.tail()

,datetime,place,city,state,temperature,pressure,dew_point,humidity,wind_speed,gust,wind_chill,uv_index,feels_like_temperature,visibility,solar_radiation,pollutant_value,precipitation_rate,precipitation_total
24517435,2024-08-31 11:00:00,Sabu,Sri Aman,Sarawak,27.0,1006.69,22.0,74.0,2.0,NaN,27.0,0.0,29.0,NaN,NaN,NaN,NaN,NaN
24517903,2024-08-31 12:00:00,Sabu,Sri Aman,Sarawak,26.0,1007.68,23.0,83.0,0.0,NaN,26.0,0.0,28.0,NaN,NaN,NaN,NaN,NaN
24518360,2024-08-31 13:00:00,Sabu,Sri Aman,Sarawak,25.0,1008.68,23.0,89.0,0.0,NaN,25.0,0.0,26.0,NaN,NaN,NaN,NaN,NaN
24518819,2024-08-31 14:00:00,Sabu,Sri Aman,Sarawak,25.0,1009.68,23.0,89.0,0.0,NaN,25.0,0.0,26.0,NaN,NaN,NaN,NaN,NaN
24519280,2024-08-31 15:00:00,Sabu,Sri Aman,Sarawak,24.0,1010.68,23.0,94.0,0.0,NaN,24.0,0.0,24.0,NaN,NaN,NaN,NaN,NaN

In [5]:
btu.to_excel('bintulu_weather.xlsx', index=False)